* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.flexible {
  display: flex;
  align-items: center;
}
.half-width {
  width: 50%;
}
.text-content {
  padding-left: 5%;
}
.top-section {
  padding: 60px 0px;
}
.top-section h1 {
  color: #575757;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 30px;
}
.orange-color {
  color: #fba24f;
}
.top-section p {
  color: #828282;
  font-size: 20px;
  font-weight: 500;
  max-width: 520px;
  margin-bottom: 40px;
}
.top-img {
  width: 95%;
}
.girl-img {
  width: 320px;
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}
a {
  text-decoration: none;
}
.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 35px;
  background: linear-gradient(120deg, #fba24f, #ff1e1e);
  border-radius: 50px;
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}
.btn:hover {
  background: linear-gradient(to left, #fba24f, #ff1e1e);
}
.about-us {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
h2 {
  color: #707070;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.paragraph-text {
  color: #18191f;
  font-size: 18px;
  max-width: 450px;
  line-height: 30px;
  margin-bottom: 50px;
}
.recipie {
  max-width: 710px;
  margin: 0 auto;
  padding-top: 50px;
}
.recipie h2 {
  text-align: center;
}
.recipie p {
  color: #18191f;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
}
.content-width {
  max-width: 1300px;
  margin: 0 auto;
}
.recipie-boxs {
  padding-bottom: 60px;
}
.one-third {
  width: 33.33%;
}
.recipie-box {
  margin: 15px;
  padding: 20px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.one-third img {
  width: 100%;
  margin-bottom: 30px;
}
.recipie-box h3 {
  color: #18191f;
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 700;
}
.all-text {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.outer-box {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 60px;
}
.inner-box h2 {
  color: #18191f;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.inner-box p {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.cooking-class {
  background-image: url(images/join-cooking-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0px;
}
.cooking-class > h2 {
  font-size: 72px;
  color: #fe7606;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.cooking-class > p {
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  font-size: 20px;
}
.cook-box {
  margin: 15px;
  padding: 40px 35px;
}
.white {
  background: #fff;
}
.transparent {
  background: rgba(0, 0, 0, 0.7);
}
.orange {
  background: #fe7606;
}
.cook-box h2 {
  font-size: 130px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 128px;
}
.white * {
  color: #000;
}
.cook-box h3 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.cook-box a {
  color: #ff7b00;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
}
.transparent * {
  color: #fff;
}
.orange * {
  color: #fff !important;
}
footer {
  background: #0b0d17;
  padding-top: 40px;
  padding-bottom: 110px;
  margin-top: 80px;
}
footer h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #5B5B5B;
}
footer p{
  color: #fff;
  font-size: 16px;
  text-align: center;
}